﻿body {
    padding-top: 65px;
    background-color: whitesmoke;
    overflow: auto;
}

input {
    border: 1px solid steelblue !important;
}

input[type=checkbox] {
    outline: 1px solid steelblue !important;
    margin-top: 10px;
}

#submit {
    margin-right: 15px;
}

.describe {
    line-height: 40px;
    padding: 15px;
}

.navbar-text {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    padding: 15px;
    z-index: -1;
}

#chart {
    background-color: white;
    display: none;
    margin-bottom: 75px;
}

.table {
    text-align: center;
    width: 33%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.table th {
    text-align: center;
}

.main text {
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
}

svg {
    display: block;
    margin: 0 auto;
}

:-ms-input-placeholder {
    text-align: center;
}
